.bodyContent {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.slider {
    position: relative;
    width: 100%;
}

.bar {
    padding-top: 30px;
    margin-left: 12%;
    width: 100%;
}

.img {
    margin-left: 10%;
    text-align: center;
    justify-content: center;
}

.title1 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #D0CCC6;
}

.title2 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #D0CCC6;
}

.title {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #D0CCC6;
}

.text1 a {
    font-size: 16px;
    color: #D0CCC6;
    padding-bottom: 20px;
    text-decoration: none;
}

.text1 a:hover {
    color: rgb(173, 56, 14);
}

.text {
    text-align: center;
    font-size: 24px;
    color: #D0CCC6;
    padding-bottom: 20px;
}