.bg {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #181a1b;
}

.slider {
  position: relative;
  width: 100%;
}

.text1 {
  text-align: center;
  padding: 20px;
  font-size: 48px;
  font-family: Roboto;
  font-weight: bold;
  justify-content: center;
  align-items: center;

}

@media only screen and (max-width: 800px) {
  .slider {
    display: none;
  }

  .bodyContent {
    display: grid;
    grid-template-columns: auto;
    margin-left: 0;
    margin-right: 0;
  }
}