.containerPage2 {
    overflow-x: hidden;
    overflow-y: hidden;
}

.bodyContent {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10%;
    justify-content: center;
}

.slider {
    position: relative;
    width: 100%;
}

.bar {
    padding-top: 30px;
    margin-left: 12%;
    width: 100%;
}

.img {
    margin-left: 10%;
    text-align: center;
    justify-content: center;
}

.title1 {
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #D0CCC6;
}

.title2 {
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #D0CCC6;
}

.title {
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #D0CCC6;
    width: 80%;
}

.text1 a {
    font-size: 16px;
    color: #D0CCC6;
    padding-bottom: 20px;
    text-decoration: none;
}

.text1 a:hover {
    color: rgb(255, 122, 44);
}

.text {
    text-align: center;
    font-size: 24px;
    color: #D0CCC6;
    padding-bottom: 20px;
}

.textDetail {
    display: none;
}

.textLink {
    font-weight: bold;
}

@media only screen and (max-width: 480px) {

    .image2,
    .image3,
    .image4 {
        width: 200;
        height: auto;
        margin-right: 0;
        margin-left: 0;
        max-width: 80%;

    }

    .containerPage2 {
        width: auto;
        justify-content: center;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 800px) {

    .slider {
        display: none;
    }

    .bodyContent {
        display: grid;
        grid-template-columns: auto;
        gap: 0;

        margin-left: auto;
        margin-right: auto;
        text-align: center;
        justify-content: center;
        max-width: 100%;
        height: auto;
    }

    .content {
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
    }

    .textDetail {
        display: block;
        text-align: center;
        font-size: 24px;
        color: #D0CCC6;
        padding-bottom: 20px;
        margin-bottom: -10px;

    }

    .text {
        display: none;
    }

    .title1 {
        font-size: 25px;
        font-weight: bold;
        font-style: italic;
        padding-bottom: 10px;
        padding-top: 20px;
        color: #D0CCC6;
    }

    .title2 {
        font-size: 25px;
        font-weight: bold;
        font-style: italic;
        padding-bottom: 10px;
        padding-top: 20px;
        color: #D0CCC6;
    }

    .title {
        font-size: 25px;
        font-weight: bold;
        font-style: italic;
        padding-bottom: 10px;
        padding-top: 20px;
        color: #D0CCC6;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .text1 a {
        font-size: 12px;
        color: #D0CCC6;
        padding-bottom: 20px;
        text-decoration: none;
    }

    .text1 a:hover {
        color: rgb(255, 122, 44);
    }

    .img {
        width: auto;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;

    }

    .image2,
    .image3,
    .image4 {
        width: auto;
        height: auto;
        margin-right: 0;
        margin-left: 0;
        max-width: 100%;
    }

}