@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.name {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
    color: #D0CCC6;

}

.logo {
    justify-content: center;
    padding: 30px;
}

.text {
    font-size: 16px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    color: #D0CCC6;


}

.title {
    font-family: "Poppins", sans-serif;

}

.image {
    justify-content: center;
    margin-top: -70px;
}

#text3 {
    margin-top: -70px;
    padding-bottom: 30px;

}

.items a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #D0CCC6;
    font-size: 16px;
}

.ContainerItem {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;

}

@media only screen and (max-width: 800px) {
    .ContainerItem {
        display: grid;
        grid-template-columns: auto auto;
    }

    .ContainerItem .items {

        margin-left: 0%;
        margin-right: 0%;
    }

    .text {
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        width: 100%;
        height: auto;
        justify-content: center;
        display: grid;
        grid-template-rows: auto auto auto auto auto;
    }

    .item .imageItems {

        max-width: 100%;
        height: auto;
    }

    .imageItems {

        width: 200px;
        height: auto;
    }

    .ImgLogo {
        margin-left: 0;
        margin-right: 0;
    }
}