@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.name {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
    color: #D0CCC6;

}

.logo {
    justify-content: center;
    padding: 30px;
}

.text {
    font-size: 16px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    color: #D0CCC6;


}

.title {
    font-family: "Poppins", sans-serif;

}

.image {
    justify-content: center;
    margin-top: -70px;
}

#text3 {
    margin-top: -70px;
    padding-bottom: 30px;

}

.items a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #D0CCC6;
    font-size: 16px;
}

.ContainerItem {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;


}

@media only screen and (max-width: 400px) {
    .container {
        width: 50%;
        height: auto;
        text-align: center;
        justify-content: center;
        display: grid;
        grid-template-rows: auto auto auto auto auto;
    }

}

@media only screen and (max-width: 800px) {
    .ContainerItem {
        display: grid;
        grid-template-columns: auto auto;
    }

    .ContainerItem .items {

        margin-left: 0%;
        margin-right: 0%;
    }

    .text {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        width: 95%;
        height: auto;
        justify-content: center;
        text-align: center;
        display: grid;
        grid-template-rows: auto auto auto auto auto;
    }

    .item .imageItems {

        max-width: 100%;
        height: auto;
    }

    .imageItems {

        width: 140px;
        height: auto;
    }

    .ImgLogo {
        margin-left: 0;
        margin-right: 0;
    }
}

.items {
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: transparent;


    -webkit-transition: border-color 0.1s;
    transition: border-color 0.1s;
    overflow: hidden;
}

.items:hover {
    border-color: #bfc1c5;

}

.bannerImg {
    overflow: hidden;
    height: 100%;

}

.imageItems {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;

}

.items:hover .imageItems {
    transform: scale(1.15) rotate(0.01deg);
    opacity: 0.5;

}