.bodyContainer {
    width: 100%;
    height: auto;
    margin-left: -8px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #181A1B;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
}

.All_logo {
    width: auto;
}

#title {
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 30px;
    font-weight: bold;
}

/* Logo content */
.gallery {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.imageContainer {

    position: relative;
    display: flex;
}

.imageWrapper {
    position: relative;
    padding-right: 40px;
}

.overlay {
    position: absolute;
    bottom: 2.5%;
    left: 0;
    width: 81%;
    height: 0;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.imageWrapper:hover .overlay {
    height: 60%;
    opacity: 1;
}

/* Fashion News */
.news {
    color: #C0BAB2;
    text-align: center;
    width: 1010px;
    height: 360px;
    margin-left: 150px;
    background-color: rgb(41, 36, 30);
    justify-content: center;
    padding-top: 40px;
}

#h2 {
    font-size: 40px;
    margin-top: -20px;
    font-style: italic;
    font-weight: bold;
}

.titleNews {
    margin-top: -40px;
    display: flex;
    font-size: 16px;
    justify-content: center;
}

.titleNews a {
    margin-right: 5px;
}

.imageNews {
    margin-top: 40px;
    display: flex;


}

.imageNews div {
    margin: 2px 24px;

}

.imageNews div a {
    color: #C0BAB2;
    text-decoration: none;
    font-size: 16px;

}

.imageNews a:hover {
    color: aliceblue;
}