.containerBur {
    display: none;
    border-bottom: 2px solid #303436;

}

@media only screen and (max-width: 480px) {
    .containerBur {
        display: block;
    }
}

.burgerMenu {
    position: relative;
    text-align: right;
    display: grid;
    grid-template-columns: auto auto;

    @media only screen and (max-width: 480px) {
        .burgerIcon {
            cursor: pointer;
            background-color: #181a1b;
            border: none;
            font-size: 20px;
            position: relative;
            top: 10px;
            right: 0;
            z-index: 999;
            background-color: transparent;
            color: #D0CCC6;
        }
    }
}

.itemMenu {
    position: relative;
    text-align: right;
    display: flex;
    justify-content: space-evenly;
}

.burgerIcon {
    cursor: pointer;
    background-color: #181a1b;
    border: none;
    font-size: 20px;
    position: relative;
    right: 5%;
    z-index: 999;
    color: #D0CCC6;
    margin-bottom: 15px;
}

.containerMenu {
    display: grid;
    grid-template-columns: auto auto;
    grid-area: 20px;
    grid-column-gap: 10px;
    margin-right: 0;
    justify-content: right;
    text-align: right;

}


.logo {
    text-align: left;
    margin-top: 10px;
    margin-left: 10%;
}


.burgerMenu.like {
    top: 20px;
}

.burgerMenu.login {
    top: 20px;
    margin-right: 0;
}

.bar {
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    margin: 5px 0;
    margin-right: 2%;
    transition: 0.4s;
    text-align: right;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: right;

}

.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.open .bar:nth-child(2) {
    opacity: 0;
}

.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.mobileMenu {
    list-style: none;
    width: auto;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    z-index: 998;
    background-color: #181a1b;
    text-align: right;
}

.item {
    color: #8f816a;
    font-size: 16px;
    border-top: #ffffff 1px;
}

.dropdown {
    display: none;
    border-bottom: #f7f6f6 1px;
    font-size: 13px;
}


.dropdown.open {
    display: block;
}

.dropdownItem {
    display: block;
    padding: 10px;
    color: #8f816a;
    text-decoration: none;
    transition: background-color 1s ease;

}

.dropdownItem:last-child {
    border-bottom: #8f816a solid 1px;
}

.dropdownItem1 {
    display: block;
    padding: 10px;
    color: #8f816a;
    text-decoration: none;
    transition: background-color 1s ease;
    border-bottom: none;
}

.dropdown:hover {
    display: block;
}

#textMenu {
    font-size: 15px;
    font-weight: 800;
}