.burgerMenu {
    position: relative;
    text-align: right;
    display: grid;
    grid-template-columns: auto auto auto auto;

    @media only screen and (min-width: 800px) {
        display: none;
    }

    @media only screen and (max-width: 400px) {
        .burgerIcon {
            cursor: pointer;
            background-color: #181a1b;
            border: none;
            font-size: 20px;
            position: relative;
            top: 10px;
            right: 0;
            z-index: 999;
            color: #D0CCC6;
            margin-left: 100px;
        }

        .like {
            margin-right: -100px;
        }

        .login {
            margin-right: -120px;
        }
    }
}

.burgerIcon {
    cursor: pointer;
    background-color: #181a1b;
    border: none;
    font-size: 20px;
    position: relative;
    top: 10px;
    right: 0;
    z-index: 999;
    color: #D0CCC6;
    margin-left: 160px;
}

.containerMenu {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-area: 20px;
    grid-column-gap: 20px;
    margin-right: 0;
    justify-content: right;
    text-align: right;
}


.logo {
    text-align: left;
    margin-top: 10px;
    margin-left: 10%;
}

.like {
    margin-right: -140px;
}

.login {
    margin-right: -160px;
}

.burgerMenu.like {
    top: 20px;
}

.burgerMenu.login {
    top: 20px;
    margin-right: 0;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;

    transition: 0.4s;
    text-align: right;
}

.container {
    display: grid;
    grid-template-columns: auto;
    text-align: right;
}

.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.open .bar:nth-child(2) {
    opacity: 0;
}

.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.mobileMenu {
    list-style: none;

    left: 0;
    width: auto;
    padding: 0;
    margin: 0;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08), 0 4px 6px -2px rgba(71, 63, 79, 0.16);
    z-index: 998;
    background-color: #181a1b;


}

.item {
    color: #8f816a;
    font-size: 16px;
    border-top: #ffffff 1px;
}

.dropdown {
    display: none;
    border-bottom: #f7f6f6 1px;

}


.dropdown.open {
    display: block;
}

.dropdownItem {
    display: block;
    padding: 10px;
    color: #8f816a;
    text-decoration: none;
    transition: background-color 1s ease;
    border-top: #8f816a solid 1px;

}

.dropdownItem:last-child {
    border-bottom: #8f816a solid 1px;
}

.dropdown:hover {
    display: block;
}