.footer {
    display: none;
}

@media only screen and (max-width: 800px) {
    .footer {
        color: #C0BAB2;
        display: block;
        background: rgba(0, 0, 0, 0.05);
        box-shadow: 0px 4.084px 4.084px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(38.66666793823242px);
    }

}

#logo1 {
    text-align: center;
}

#text2 {
    font-weight: bold;
    margin-left: 40px;
}

.information {

    display: flex;

}

.group {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.groupChild {
    margin-left: 60px;
}

#icons {
    margin-right: 10px;
}

#info {
    margin-left: 10px;
    font-size: 12px;
}