.footer {
    display: none;
}

@media only screen and (max-width: 800px) {
    .footer {
        color: #C0BAB2;
        display: block;
        border-top: 10px solid #303436;
    }

}

#logo1 {
    text-align: center;
}

#text2 {
    font-weight: bold;
    margin-left: 40px;
}

.information {

    display: flex;

}

.group {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.groupChild {
    margin-left: 60px;
}

#icons {
    margin-right: 10px;
}

#info {
    margin-left: 10px;
    font-size: 12px;
}