.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    max-width: 200px;
    margin-left: 10%;
}

.menu {
    position: relative;
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
}

.item {
    background-color: #181A1B;
    font-family: 'Poppins';
    color: #8f816a;
    transition: all 0.3s;
    text-decoration: none;
    margin-right: 20px;
    position: relative;
    padding-top: 20px;

}

.item:hover {
    color: rgb(85, 51, 17);
}

.dropdown {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    transition: all 0.3s;
    background-color: #181A1B;
    z-index: 1;
}

.menu li:hover .dropdown {
    display: block;

}


.dropdownItem {
    display: block;
    text-align: left;
    padding: 10px;
    color: white;
    text-decoration: none;
    width: 150px;
    border-bottom: #ffffff solid 1px;
}

.dropdownItem:first-child {
    height: 9px;
    border-bottom: none;
}

.dropdownItem:last-child {
    border-bottom: none;
}

.dropdownItem:hover {
    background-color: #8f816a;
}

.dropdownItem:first-child:hover {
    background-color: #181A1B;
}

.toolbar {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 10%;
}