@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.header {
    width: 100%;
    height: 100px;
    margin: 0;
    margin-top: -10px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    background-color: #181A1B;
}

.login {
    bottom: -8px;
    right: -180px;
}

.login:hover {
    background-color: #ffffff;
}

.like {
    bottom: -8px;
    right: -190px;
}

.like:hover {
    background-color: #ffffff;
}

.logo {
    margin-left: 60px;
    margin-top: 50px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;

}

.header .menu {
    margin-left: 220px;
    font-size: 20px;
}

.menu li {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    margin-top: 67px;
}

.menu li a {
    display: block;
    padding: 20px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #8f816a;
    font-size: 15px;
    background-color: #181A1B;
    height: auto;
}

.menu li .item {
    background-color: #181A1B;
    height: 42px;
    font-size: 15px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #181A1B;
    width: 150px;
    font-size: 15px;
}

#adLv {
    height: auto;
    color: #ffffff;
    font-family: Poppins;
}

.menu li:hover .dropdown {
    display: block;
}

.dropdown a {
    display: block;
    padding: 0;
    color: #ffffff;
    height: 15px;
    text-decoration: none;
    width: 150px;
}

.dropdown a:hover {
    background-color: #523131;
}