.loginBtn {
    border-radius: 5px 5px 5px 5px;
    background-color: transparent;
    border: none;

    @media only screen and (max-width: 480px) {
        margin-top: 15px;

    }
}

.loginBtn:hover {
    color: aliceblue;
    filter: brightness(150%);
}

.like {
    background-color: transparent;
    border: none;

    @media only screen and (max-width: 480px) {
        margin-top: 15px;
    }
}

.like:hover {
    color: aliceblue;
    filter: brightness(150%);

}

/* From Login */

.loginBackGroundImage {
    background-image: url('/login/login.svg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.RegisterPage {
    background-image: url('/login/register.svg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: block;
    text-align: center;
}
.ForgotPageBackground{
    background-image: url('/login/register.svg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: block;
    text-align: center;
}

.logoLogin {
    display: flex;
    justify-content: center;
    padding: 20px 0px
}
.logoSignup{
    display: flex;
    justify-content: center;
    padding: 20px 0px
}
.logoForgot{
    display: flex;
    justify-content: center;
    padding: 20px 0px
}
.logoLogin a {
    display: block;
}
.logoSignup a{
    display: block;
}
.logoForgot a{
    display: block;
}
.container {
    max-width: 1140px;
    margin: 0px auto;
    height: 100%;
}
.bodyContent{
    max-width: 1140px;
    margin: 0px auto;
    height: 100%;  
}
.containerForgot{
    max-width: 1140px;
    margin: 0px auto;
    height: 100%; 
}
.LoginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}
.SignupPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}
.Forgotpage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.form_wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    background-color: #35393B;
    color: #ffffff;
    background: rgba(217, 217, 217, 0.10);
    box-shadow: 38.667px -38.667px 38.667px 0px rgba(165, 165, 165, 0.10) inset, -38.667px 38.667px 38.667px 0px rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(3px);
}
.form_wrapper_Signup{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    background-color: #35393B;
    color: #ffffff;
    background: rgba(217, 217, 217, 0.10);
    box-shadow: 38.667px -38.667px 38.667px 0px rgba(165, 165, 165, 0.10) inset, -38.667px 38.667px 38.667px 0px rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(3px);
}
.form_wrapperForgot{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    padding: 20px;
    background-color: #35393B;
    color: #ffffff;
    background: rgba(217, 217, 217, 0.10);
    box-shadow: 38.667px -38.667px 38.667px 0px rgba(165, 165, 165, 0.10) inset, -38.667px 38.667px 38.667px 0px rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(3px);
}
#title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.label {
    text-align: left;
    color: #C0BAB2;
}

.bodyContent {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.bodyContentSignup{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.bodyContentForgot{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.bodyContent1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 15px 0px;
}

.inputE {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 26px;
    background-color: transparent;
    border: none;
    color: #C0BAB2;
    outline: none;
    border-bottom: #C0BAB2 solid 1px;
    font-size: 16px;
}

.inputP {
    color: #C0BAB2;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 26px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: #C0BAB2 solid 1px;
    font-size: 16px;
}

.fromPassword {
    position: relative;
    display: inline-block;

}

.eye {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.fgPassword {
    text-decoration: none;
    color: #C0BAB2;
}

.fgPassword:hover {
    color: aliceblue;

}

.btnSignIn {
    background-color: #181a1b;
    color: #C0BAB2;
    font-size: 26px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
}

.btnSignUp {
    background-color: #181a1b;
    color: #C0BAB2;
    font-size: 26px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
}
.btnForgot{
    background-color: #181a1b;
    color: #C0BAB2;
    font-size: 26px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
}

.btnSignIn:hover {
    color: aliceblue;
    filter: brightness(150%);
}

.btnSignUp:hover {
    color: aliceblue;
    filter: brightness(150%);
}
.btnForgot:hover{
    color: aliceblue;
    filter: brightness(150%);
}

.linkHere {
    display: flex;
    color: #C0BAB2;
    font-size: 16px;
    justify-content: center;

}

#here {
    font-weight: bold;
    color: aliceblue;
}

@media only screen and (max-width: 480px) {
    .container {
        width: 70%;
        height: auto;
    }

    .inputE {
        width: 100%;
    }

    .fromPassword {
        width: 102%;
    }

    .fgPassword {
        width: 50%;
        font-size: 14px;
    }

    .inputP {
        width: 100%;
    }

    .linkHere {
        display: flex;
        color: #C0BAB2;
        font-size: 10px;
        justify-content: center;
    }

    .btnSignIn {
        background-color: #181a1b;
        color: #C0BAB2;
        font-size: 16px;
        font-weight: bold;
        border: none;
        width: 40%;
        height: 40px;
    }

    .btnSignUp {
        background-color: #181a1b;
        color: #C0BAB2;
        font-size: 16px;
        font-weight: bold;
        border: none;
        width: 40%;
        height: 40px;
    }

    #title {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        font-weight: bold;
    }

    .label {
        font-size: 12px;
        color: #C0BAB2;
    }
}

.lock {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.back {
    text-decoration: none;
    color: #C0BAB2;
    font-size: 15px;
}