.loginBtn {
    border-radius: 5px 5px 5px 5px;
    background-color: transparent;
    border: none;

    @media only screen and (max-width: 800px) {
        margin-top: 15px;


    }
}

.loginBtn:hover {
    color: aliceblue;
    filter: brightness(150%);
}

.like {
    background-color: transparent;
    border: none;

    @media only screen and (max-width: 800px) {
        margin-top: 15px;
    }
}

.like:hover {
    color: aliceblue;
    filter: brightness(150%);

}


/* From Login */
.loginPage {
    background-image: url('/login/login.svg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: block;
    text-align: center;
    justify-content: center;
}

.RegisterPage {
    background-image: url('/login/register.svg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: block;
    text-align: center;

}

.image {
    margin-top: 30px;
    margin-bottom: 20px;
}

.container {
    background-color: #35393B;
    width: 30%;
    height: 65%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #C0BAB2;
}

#title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.label {
    text-align: left;
    color: #C0BAB2;
}

.bodyContent {
    display: flex;
    flex-direction: column;

    justify-content: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.inputE {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 25px;
    background-color: #35393B;
    border: none;
    color: #C0BAB2;
    outline: none;
    border-bottom: #C0BAB2 solid 1px;
}

.inputP {
    color: #C0BAB2;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 25px;
    background-color: #35393B;
    border: none;
    outline: none;
}

.fromPassword {
    display: flex;
    width: 100%;
    border-bottom: #C0BAB2 solid 1px;
}

.eye {
    border: none;
    background-color: #35393B;
}

.fgPassword {
    text-decoration: none;
    color: #C0BAB2;
}

.fgPassword:hover {
    color: aliceblue;

}

.btnSignIn {
    background-color: #181a1b;
    color: #C0BAB2;
    font-size: 24px;
    font-weight: bold;
    border: none;
    width: 50%;
    height: 50px;
}

.btnSignUp {
    background-color: #181a1b;
    color: #C0BAB2;
    font-size: 24px;
    font-weight: bold;
    border: none;
    width: 50%;
    height: 50px;
}

.btnSignIn:hover {
    color: aliceblue;
    filter: brightness(150%);
}

.btnSignUp:hover {
    color: aliceblue;
    filter: brightness(150%);
}

.linkHere {
    display: flex;
    color: #C0BAB2;
    font-size: 16px;
    justify-content: center;
}

#here {
    font-weight: bold;
    color: aliceblue;
}

@media only screen and (max-width: 800px) {
    .container {
        width: 50%;
    }

    .inputE {
        width: 100%;
    }

    .fromPassword {
        width: 102%;
    }

    .fgPassword {
        width: 50%;
        font-size: 14px;
    }

    .inputP {
        width: 100%;
    }

    .linkHere {
        display: flex;
        color: #C0BAB2;
        font-size: 10px;
        justify-content: center;
    }

    .btnSignIn {
        background-color: #181a1b;
        color: #C0BAB2;
        font-size: 16px;
        font-weight: bold;
        border: none;
        width: 40%;
        height: 40px;
    }

    .btnSignUp {
        background-color: #181a1b;
        color: #C0BAB2;
        font-size: 16px;
        font-weight: bold;
        border: none;
        width: 40%;
        height: 40px;
    }

    #title {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        font-weight: bold;
    }

    .label {
        font-size: 12px;
        color: #C0BAB2;
    }
}