.container {
    justify-content: center;
}

.title {
    font-size: 24px;
    color: #D0CCC6;
    display: block;
    text-align: center;

}

.brandsLogo {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}

#item {
    transition: transform 0.3s ease-in-out;
}

#item:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 800px) {
    .container {
        display: none;
    }
}