.txtSearch {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 100px;
    padding-top: 6px;

}

.btnSearch {
    padding: 4px 4px;
    color: #8f816a;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #8f816a;
}

.btnSearch:hover {
    background-color: transparent;
}

/*  */
.gallerycontainer {
    display: flow-root;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: -webkit-center;
}

.galleryitem {
    justify-content: center;
    color: wheat;
    text-align: center;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.galleryitem img {
    margin: 0 auto;

}

@media only screen and (max-width: 800px) {
    .gallerycontainer {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;

        margin-left: 0;
        margin-right: 0;
        width: 100%;
        overflow-x: hidden;
    }

    .galleryitem {
        max-width: 95%;

    }

    .galleryitem {
        padding: 10px;
        color: wheat;
        text-align: center;
        width: 90%;
        margin-left: 0;
        margin-right: 0;
    }

    #imageS {
        width: 170px;
        height: auto;
    }
}