.searchBar {
    display: flex;
    align-items: center;
}

.input {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 100px;
}

.button {
    padding: 4px 4px;
    color: #8f816a;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #8f816a;
}

.button:hover {
    background-color: #0056b3;
}